/* Basic styling for error messages and layout */
.error {
    color: red;
    font-size: 0.85em;
}

.hide {
    display: none;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
}

form .form-group {
    margin-bottom: 15px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: left;
}

button {
    padding: 5px 10px;
    background-color: #7AB2D3;
    border: 1px solid black;
    color: #fff;
    padding: 5px 20px;
}

form {
    width: 300px;
    position: relative;
    margin-bottom: 70px;
}

.add-employee-btn {
    position: absolute;
    right: 0;
}


.form-group {
    display: flex;
    gap: 30px;
    justify-content: space-between;
}

thead {
    background-color: #7AB2D3;
    color: #ffffff;
}

table tbody tr:nth-child(even) {
    background-color: #DFF2EB; /* Light gray */
}

/* Style for odd rows */
table tbody tr:nth-child(odd) {
    background-color: #B9E5E8; /* White */
}

/* Hover effect for rows */
table tbody tr:hover {
    background-color: #e4e4e4; /* Light gray hover effect */
}